@media (min-width: 1024.5px) {
    .token-info {
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        color: rgb(53, 46, 46);
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(0, -50%);
    }

    .tokenomic {
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        color: rgb(53, 46, 46);
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translate(0, -50%);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .pie-chart {
        margin-top: 20px;
        width: 300px;
        height: 300px;
        background-image: conic-gradient(
                #ff7700 0% 10%,
                #80b880 10% 25%,
                #333391 25% 50%,
                #272722 50% 100%);
        border-radius: 50%;
        border: 1px solid #000000;
    }

    .label {
        right: 0;
        position: absolute;
        transform-origin: 0 0;
        color: #ffffff;
        font-weight: bold;
    }

    .fncatipad {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .fncatipad-2 {
        display: none;
    }
}

@media (max-width: 1024.5px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .token-info {
        margin-top: 20px;
        display: flex;
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: rgb(53, 46, 46);
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .tokenomic {
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        color: rgb(53, 46, 46);
        margin-top: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .pie-chart {
        margin-top: 20px;
        width: 300px;
        height: 300px;
        background-image: conic-gradient(#ff7700 0% 10%,
                #80b880 10% 25%,
                #333391 25% 50%,
                #575754 50% 100%);
        border-radius: 50%;
        border: 1px solid #000000;
    }
}

.my-body {
    background-color: #ffffff;
}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #b1b0b0;
}


.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-item {
    flex: 1;
}

.navbar-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: box-shadow 0.3s ease, border 0.3s ease;
}

.navbar-item a:hover {
    box-shadow: 0 0 30px rgba(253, 230, 96, 0.9);
    background-color: #cfcece;
}

.navbar-item a i {
    font-size: 24px;
}

.pie-chart {
    position: relative;
}

.percent {
    position: absolute;
    color: white;
    font-weight: bold;
}

.percent-1 {
    top: 20%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.percent-2 {
    top: 35%;
    right: 10%;
    transform: translate(-50%, -50%);
}

.percent-3 {
    bottom: 20%;
    right: 15%;
    transform: translate(-50%, -50%);
}

.percent-4 {
    top: 50%;
    left: 26%;
    transform: translate(-50%, -50%);
}

.detail-chart {
    margin-top: 40px;
}

.chart {
    color: white;
    font-weight: bold;
    margin: 10px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.chart-1 {
    background-color: #ff7700;
}

.chart-2 {
    background-color: #80b880;
}

.chart-3 {
    background-color: #333391;
}

.chart-4 {
    background-color: #272722;
}

.token-info h3,
.token-info p {
    transition: color 0.1 ease, text-shadow 0.1 ease;
}

.token-info h3:hover,
.token-info p:hover {
    color: white;
    text-shadow:
        1px 1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        -1px -1px 0 black;
}